{
    "overrides": [
        {
            "files": ["*.json", ".prettierrc"],
            "options": {
                "tabWidth": 4,
                "useTabs": false
            }
        }
    ]
}
