[Unit]
Description=Matrix Presence Updater
After=network.target

[Service]
Type=simple
User=shane
SyslogIdentifier=matrix-premid
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/local/bin/matrix_premid
Restart=on-failure
RestartSec=120

[Install]
WantedBy=multi-user.target
