[Unit]
Description=Matrix Presence Updater
After=network.target

[Service]
Type=simple
User=shane
SyslogIdentifier=matrix-premid
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/env python3 /home/shane/repos/matrix-premid/matrix_premid.py
Restart=on-failure
RestartSec=120

[Install]
WantedBy=multi-user.target
